body{
    margin: 0;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    height: 60px;
    background-color: rgb(177, 153, 255);
    color: white;
    padding: 0.6vw;
    width: 100%;
}

.post{
   display: flex;
   flex-direction: column; 
   justify-content: center;
    width: 700px;
    background-color: white;
    border-radius: 7px;
    border-width: 1px;
    margin: 10px;
    padding: 10px;
}

.titulo{
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.subtitulo{
    margin: 5px;
}

.botao{
  height: 40px;
  background-color: none;
  border-radius: 5px;
  color: rgb(177, 153, 255); 
  border: 3px solid rgb(177, 153, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  transition: all 0.5s;
}

.botao:hover{
    background-color: rgb(177, 153, 255);
    color: white; 

}